
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }


    a,h1,h2,h3,h4,h5,h6{
        padding:0px;
        margin: 0px;
    }
    a:hover{
        text-decoration: none; 
    }


// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
// font-family: 'Open Sans', sans-serif;



// container 
.container{
    width: 1171px;
    max-width: 100%;
    display: block;
    margin: auto;
}


// color variable

$yellow : #fdce16;
$white:#ffffff;
$black:#161616;
$gray:#acacac;
$border1:#e7e7e7;



// start manu-up section
.border-1{
                border-bottom: 1px solid #bebebe;
                
}
.main_div{
    
    .header_info{
       
        
        display: flex;
        justify-content: center;
        @media(min-width:576px){
            justify-content: left;
        }
        .email,.number{
            i{
                color:$yellow;
                font-size: 13px;
                padding-top: 9px;
                padding-bottom: 9px;

            }

            a{
                font-size: 13px;
                font-family: Arial, Helvetica, sans-serif;
                color: #bebebe;
                text-decoration: none;
                padding-right: 8px;
            }
            a:hover{
                color: #ffd34c;
            }
        }

        .email{
            border-right: 1px solid #bebebe;
        }
       
        .number{
            padding-left: 15px;
        }

    }

// social media icon

    .social{
        
        .icon{
            display: flex;
            justify-content: center;
            @media(min-width:576px){
            justify-content: flex-end;

            }
            
            .box{
                text-align: center;
                i{
                color: #bebebe;
                border-right: 1px solid #bebebe;
                border-top: 1px solid #bebebe;
                @media(min-width: 576px){
                    border-top: none;
                    border-right: 1px solid #bebebe;
                }
                padding: 9px 9px 9px 9px;

                }
                
            }

            .left-b{
                border-left: 1px solid #bebebe;
            }
        }
    }
}

// --------------------------------------- start manu section -----------------------

