@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a, h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("fonts/MyriadPro-Regular.woff2") format("woff2"), url("fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  width: 1171px;
  max-width: 100%;
  display: block;
  margin: auto;
}

.border-1 {
  border-bottom: 1px solid #bebebe;
}

.main_div .header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .main_div .header_info {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.main_div .header_info .email i, .main_div .header_info .number i {
  color: #fdce16;
  font-size: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.main_div .header_info .email a, .main_div .header_info .number a {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #bebebe;
  text-decoration: none;
  padding-right: 8px;
}

@media (min-width: 333px) {
  .main_div .header_info .email a, .main_div .header_info .number a {
    font-size: 13px;
  }
}

.main_div .header_info .email a:hover, .main_div .header_info .number a:hover {
  color: #ffd34c;
}

.main_div .header_info .email {
  border-right: 1px solid #bebebe;
}

.main_div .header_info .number {
  padding-left: 15px;
}

.main_div .social .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .main_div .social .icon {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main_div .social .icon .box {
  text-align: center;
}

.main_div .social .icon .box i {
  font-size: 14px;
  color: #bebebe;
  border-right: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  padding: 9px 9px 9px 9px;
}

@media (min-width: 576px) {
  .main_div .social .icon .box i {
    border-top: none;
    border-right: 1px solid #bebebe;
  }
}

.main_div .social .icon .box i:hover {
  color: #fdce16;
}

.main_div .social .icon .left-b {
  border-left: 1px solid #bebebe;
}

.navbar {
  padding: 0px;
  margin: 0px;
}

.navbar .navbar-brand img {
  width: 100%;
  max-width: 80px;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-nav .nav-item {
  text-align: center;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #161616;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
  font-family: 'Myriad Pro';
}

.navbar .navbar-nav .nav-item-hover::after {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  content: '';
  display: block;
  width: 0px;
  height: 3px;
  background-color: #fdce16;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.navbar .navbar-nav .nav-item-hover:hover::after {
  width: 7%;
  -webkit-transition: width .3s;
  transition: width .3s;
  color: #fdce16;
}

.navbar .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0px;
}

@media (min-width: 990px) {
  .navbar {
    padding: 0px;
    margin: 0px;
  }
  .navbar .navbar-toggler {
    border: none;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    color: #161616;
    font-size: 14px;
    padding: 36px 12px 36px 12px;
    font-family: 'Myriad Pro';
  }
  .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #fdce16;
  }
  .navbar .navbar-nav .nav-item-hover::before {
    margin-top: 0px;
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background-color: #fdce16;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  .navbar .navbar-nav .nav-item-hover:hover::before {
    width: 100%;
    -webkit-transition: width .3s;
    transition: width .3s;
    color: #fdce16;
  }
  .navbar .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0px;
  }
}
/*# sourceMappingURL=style.css.map */